/* proprietá background */
body {
    background-image: url(immagini/background.jpg);
    background-size: cover;
    display: grid;
    height: 100%;
} 
/* box trasparente di sfondo */
.box1 {
    background-color: rgba(0, 0, 0, 0.521);
    border-radius: 25px;
    width: 1000px;
    padding: 50px;
    margin: auto;
}
/* proprietá e allineamento logo */
.logo {
    display: block;
    width: 25%;
    margin-left: auto;
    margin-right: auto;
}
/* slogan */
header > h1 {
    color: rgb(8,220,4);
    text-align: center;
}

/* barra di navigazione */
nav {
    background-color: rgb(8,220,4) ;
    width: 800px;
    padding: 10px;
    margin: auto;
}

nav div {
    margin: 0px;
    text-align: center;
}
/* proprietá corpo principale */
main {
    width: 825px;
    margin-top: 20px;
    margin-left: 85px;
    color: white;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

.monopattino {
    font-size: x-large;
}
/* simbolo freccia */
.indirizzo::before {
    content: "\21A6"
}
/* barre stato carica */
.carica1 {
    background-color: rgb(220, 206, 4) ;
    width: 200px;
    padding: 10px;
    border-radius: 5px;
}

.carica2 {
    background-color: rgb(8,220,4) ;
    width: 400px;
    padding: 10px;
    border-radius: 5px;
}

.carica3 {
    background-color: rgb(238, 14, 14) ;
    width: 80px;
    padding: 10px;
    border-radius: 5px;
}